h1{
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.user-card {
  width: 280px;
  height: 330px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 12px;
  background-color: #353232;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.user-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 5px double #0077ff;
  
}

.user-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: white;
}

.user-card p {
  font-size: 0.9rem;
  color: white;
  margin: 4px 0;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 18px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #005ecc;
}
