* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#page1, #page3 {
  width: 100%;
  height: 100vh;
  background-color: black;
}

#page2 {
  width: 100%;
  height: 100vh;
  background-color: rgb(80, 155, 180);
}

#page2 h1{
    font-size: 35vw;
}
