*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(30, 30, 30);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 60px 10px;
}

#box{
    width: 200px;
    height: 2px;
    background-color: crimson;
    margin: 20px;
}

#box1{
    width: 70px;
    height: 70px;
    background-color: lightgreen;
    margin: 20px;
}

#box2{
    width: 70px;
    height: 70px;
    background-color: royalblue;
    margin: 20px;
}

#box3{
    width: 70px;
    height: 70px;
    background-color: rgb(253, 152, 112);
    margin: 20px;
}


h1{
    font-size: 70px;
    text-align: center;
}

h3{
    font-size: 30px;
    text-align: center;
}

/* #box1{
    width: 170px;
    height: 170px;
    background-color: lightgreen;
}

#box2{
    width: 170px;
    height: 170px;
    background-color: royalblue;
} */