* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #000;
}

#string{
  height: 200px;
  width: 100%;
  /* background-color: red; */
}
